/* ═══════════════════════════════════════
   FOOTER
═══════════════════════════════════════ */
.main-footer {
  padding: 50px 20px 40px 20px;
}
 
.footer-inner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
 
/* linha verde separadora */
.footer-divisor {
  width: 60px;
  height: 3px;
  background-color: #12E06C;
  border-radius: 999px;
}
 
.footer-titulo {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}
 
.footer-texto {
  font-size: 13px;
  color: #A0AAB5;
  line-height: 1.8;
  margin: 0;
}
.instagram{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.instagram img{
  width: 30px;
  height: auto;
}
.instagram a{
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}