@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}
/* --- PAINEL DE CORES (VARIÁVEIS) --- */
:root {
  --cor-verde-neon: #12E06C;
  --cor-fundo-principal: #050B14;
  --cor-fundo-secundario: #0F1A2C;
  --cor-texto-claro: #FFFFFF;
  --cor-texto-cinza: #A0AAB5;
}

/* --- CONFIGURAÇÕES GERAIS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  /* Usando a variável de fundo aqui! */
  background-color: var(--cor-fundo-secundario); 
  color: var(--cor-texto-claro);
  overflow-x: hidden; 
}
