.main-header{
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--cor-fundo-secundario);
}
.logo {
  width: auto;
  max-width: 150px;
  height: auto;
  display: block;
  margin: 20px auto;
}
.menu-carrossel{
    width: 100%;
  overflow-x: auto; /* Habilita a rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Deixa o deslizar suave no celular */
}
.menu-carrossel::-webkit-scrollbar {
  display: none; 
}
.lista-links{
  display: flex; 
  list-style: none; 
  padding: 0 20px; /* Espaço inicial e final do carrossel */
  margin: 0;
  gap: 10px; /* Espaço entre um botão e outro */
  

}
.lista-links li {
  white-space: nowrap; /* Impede que o texto quebre de linha */
  
}
/* Estilo dos "botões" do menu */
.lista-links a { 
  color: #A0AAB5; /* Cinza Claro */
  text-decoration: none; 
  font-size: 15px;
  padding: 8px 18px;
  background: var(--cor-fundo-secundario); /* Fundo mais escuro */
  border-radius: 20px; /* Deixa com formato arredondado */
  display: block;
 transition: transform 0.3s ease, background 0.3s, color 0.3s;
  font-size: 24px;
  align-items: center;
} 
.lista-links a.ativo, 
.lista-links a:hover {
  background: #12E06C; /* Verde Neon */
  color: var(--cor-fundo-secundario); /* Texto escuro para dar contraste com o verde */
  font-weight: bold;
  transform: scale(1.1);
}
.conteiner-perfil{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.conteiner-title{
  font-size: 24px;
  text-transform: uppercase;
}
.conteiner-text{
  text-align: center;
  font-size: 18px;
  margin: 20px;
}
.conteiner-info{
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width:1024px) {
  .menu-carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
}
